<a href="https://colab.research.google.com/github/shoabahamed/Google-Data-Analytics-Capstone-Complete-a-Case-Study/blob/main/ner_in_spacy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import spacy

nlp = spacy.load("en_core_web_sm")

In [33]:
doc = nlp("Tesla founded Bloomberg is a Company $2 3 Ravish Kumar LONDON")

for ent in doc.ents:
  print(ent, " | ", ent.label_)

Bloomberg  |  ORG
Ravish  |  NORP
LONDON  |  GPE

In [18]:
nlp.pipe_labels['ner']

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

In [31]:
from spacy.tokens import Span

s1 = Span(doc, 0, 1, label='ORG')
s2 = Span(doc, 10, 12, label='PERSON')

doc.set_ents([s1, s2], default='unmodified')

In [32]:


for ent in doc.ents:
  print(ent, " | ", ent.label_)

Tesla  |  ORG
Bloomberg  |  ORG
2  |  MONEY
Ravish Kumar  |  PERSON



Excersie: 1
* Extract all the Geographical (cities, Countries, states) names from a given text

In [38]:
text = """Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""

doc = nlp(text)
locations = []
for ent in doc.ents:
  if ent.label_ == "GPE":
    locations.append(ent)

print(locations)

[India, Delhi, Gujarat, Tamilnadu, Andhrapradesh, Bihar]

Excersie: 2

Extract all the birth dates of cricketers in the given Text

In [40]:
text = """Sachin Tendulkar was born on 24 April 1973, Virat Kholi was born on 5 November 1988, Dhoni was born on 7 July 1981
and finally Ricky ponting was born on 19 December 1974."""

doc = nlp(text)
dates = []

for ent in doc.ents:
  if ent.label_ == 'DATE':
    dates.append(ent)

print(dates)

[24 April 1973, 5 November 1988, 7 July 1981, 19 December 1974]